* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(img/nature.jpg) no-repeat center center fixed;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background: #5D4954;
}

.logo {
    color: rgb(226,226,226);
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 22px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 38%;
}
.nav-links li {
    list-style: none;
}
.nav-links li a {
    text-decoration: none;
    color: rgb(226,226,226);
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bold;
}

.burger {
    display: none;
    cursor: pointer;
}
.burger div {
    width: 28px;
    height: 5px;
    background-color: rgb(226,226,226);
    margin: 5px;
    border-radius: 2px;
    transition: 0.2s;
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background: #5D4954;
        display: felx;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-8px,7px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-7px,-6px);
}
