* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F4F4F4;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 60px 0;
}

.row {
    display: flex;
    justify-content: space-between;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 870px;
}

/* CARDS */
.card {
    width: 270px;
    background-color: #fff;
    position: relative;
    margin-bottom: 30px;
    border-radius: 4px;
    text-decoration: none;
    top: 0;
    transition: all 0.2s ease-in;
}

.card:hover {
    top: -10px;
    background-color: rgb(247, 242, 191);
}

.card__badges {
    position: absolute;
    display: flex;
    top: 10px;
    left: 15px;
}

.card__badge--1 {
    padding: 3px 10px;
    background-color: #FFCF26;
    color: #000;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 14px;
    line-height: 1.14;
}

.card__badge--2 {
    padding: 3px 10px;
    background-color: #11BE75;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.14;
}

.card__image {
    height: 200px;
}

.card__content {
    padding: 15px 15px 20px;
}

.card__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.16;
    color: #000;
    margin: 0;
    margin-bottom: 10px;
}

.card__term {
    font-size: 14px;
    line-height: 1.14;
    color: #000;
    margin: 0;
    margin-bottom: 10px;
}

.card__metro {
    font-size: 14px;
    line-height: 1.14;
    color: #000;
    margin: 0;
    margin-bottom: 10px;
}

.card__metro::before {
    display: inline-block;
    content: "";
    width: 16px;
    height: 11px;
    background-image: url('../assets/icons/Metro.svg');
    background-repeat: no-repeat;
    background-size: inherit;
    margin-right: 10px;
}

.card__address {
    font-size: 14px;
    line-height: 1.14;
    color: #777777;
}

.more {
    width: 100%;
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 30px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s ease-in;
}

.more:hover {
    background-color: #d3d2d2;
}

.more__icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.more__title {
    font-size: 18px;
    line-height: 0.85;
    color: #4290C9;
}

/* SIDEBAR */
.sidebar {
    width: 270px;
    height: 200px;
    background-color: red;
}